.win{
    position: fixed;
    cursor: ew-resize;
    bottom: 90px;
    z-index: 1001;
    right: 20px;
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: rgb(28,33,67);
    opacity: 0.8;
    transition: .1s linear;
    user-select: none;
    color: #fff;
    ul{
       li{
           list-style: none;
           height: 40px;
           line-height: 40px;
           span{
               display: inline-block;
               width: 90px;
               text-align: left;
           }
       }
    }
    .source{
        font-size: 12px;
        color: #ddd;
        text-align: center;
        a{
            color: #ddd;
        }
    }
    .toolbar{
        background: #fff;
        span{
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin-right: 10px;
            cursor:grab;
            &:nth-of-type(1){
                background: rgb(237,108,97)
            }
            &:nth-of-type(2){
                background: rgb(246, 194, 81)
            }
            &:nth-of-type(3){
                background: rgb(101, 203, 87)
            }
        }
        i{
            color: #333;
        }
    }
}